*{
    margin: 0px;
    padding: 0px; 
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a{
    text-decoration: none;
}

.navber{
    background-color: rgb(3, 3, 3);
    font-family: 'Roboto', sans-serif;
    padding-top:30px;
    padding-bottom: 30px;
    text-align: center;
}
.navber ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 16px;
    font-size: 20px;
}

.navber a{
    color: rgb(255, 255, 255);
}
.navber a:hover{
    color: rgb(255, 70, 70);
}
.navber .n_color{
    color: rgb(68, 187, 255);
}

.newsletter{
    background-color:#f5f5f5;
    color: black;
    padding: 90px;
    text-align: center; 
}
.container{
    width: 1140px;
    margin: auto;
}
.newsletter h1{
    font-family: 'Roboto', sans-serif;
    color: #2f323a;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 18px;
}

.newsletter p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgb(78, 78, 78);
    margin-bottom: 40px;
}

.newsletter .box-1{
    width: 25%;
    padding: 16px;
    background-color: transparent;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
.newsletter .box-2{
    width: 25%;
    padding: 16px;
    background-color: transparent;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
.newsletter .box-3{
    width: 12%;
    padding: 16px;
    background-color: rgb(42, 42, 43);
    color: white;
    border: 1px solid rgb(42, 42, 43);
    border-radius: 2px;
    cursor: pointer;
}
.newsletter .box-3:hover{
    background-color: rgb(243, 67, 13);
    border: 1px solid rgb(243, 67, 13);;
}

.contact{
   background-color: #eee;
   padding-top:30px;
   padding-bottom: 30px;
   text-align: center; 
}

.contact h1{
    font-family: 'Roboto', sans-serif;
    color: #2f323a;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 18px;
}

.contact p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgb(78, 78, 78);
    margin-bottom: 40px;
}

.contact .container .cbox{
    width: 31%;
    padding: 16px;
    margin: 10px;
    background-color: transparent;
    color: black;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.contact .container .mbox{
    margin: 10px;
    padding: 16px;
    width: 765px;
    height: 309px;
    background-color: transparent;
    color: black;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.contact .check_box{
    margin-left: -323px;
    margin-bottom: 15px;
}

.contact .c_submit{
    font-size: 18px;
    width: 16%;
    padding: 15px;
    background-color: rgb(68, 187, 255);
    color: white;
    border: none;
    border: 1px solid rgb(68, 187, 255);
    border-radius: 2px;
    cursor: pointer;
}

.contact div .b_submit{
    text-align: left;
    margin-left: 170px;

}

.contact .c_submit:hover{
    background-color: rgb(54, 117, 212);
    border: 1px solid rgb(54, 117, 212);
}

.footer{
    background-color: black;
    padding: 60px;
}

.footer .footer-menu{
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
    border-bottom: 1px dotted rgb(99, 99, 99);;
}

.footer .col h6{
    font-family: 'Roboto', sans-serif;;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer .menu a{
    color: rgb(182, 179, 179);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
}

.footer .footer-button li{
    display: inline-block;
    margin-top: 18px;
    
}

.footer .footer-button li a{
    font-family: 'Poppins', sans-serif;
    color: rgb(182, 179, 179);
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid white;
}

.footer .f-class{
    border-right: none !important;
    
}

.footer .footer-button .footer-copy{
    font-family: 'Poppins', sans-serif;
    color: rgb(182, 179, 179);
    margin: 10px 0px;
}


.footer .social-icon li{
    list-style: none;
    display: inline-block;
    margin: 10px 15px 0px 15px;
    
    
}
.footer .social-icon li a i{
    background-color: rgb(31, 128, 212);
    color: aliceblue;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    
}

.footer .social-icon li a i:hover{
    border: 2px solid white;
    background-color: transparent;
    
}